body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e9e8cf;
}

.content-btn {
    display: inline-block;
    background-color: #8e44ad;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.book6 img {
    width: 500px;
    max-width: 400px;
    height: auto;
    padding: 1rem;
}

.book6 h4 {
    padding: 1rem;
    font-size: 20px;
}

.content-btn:hover {
    background-color: #8e44ad;
}